<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="register">
    <form (submit)='register()' #registerForm='ngForm'>

      <p>First name :
        <input type='text' name='firstname' required minlength="1" [(ngModel)]='user.firstname' [ngClass]="{ boxborder : firstname.errors }"
          #firstname="ngModel">
      </p>
      <span *ngIf='firstname.errors'>Error : </span>
      <span *ngIf='firstname.errors?.required'>First Name is required</span>
      <span *ngIf='firstname.errors?.minlength'>Minimum length is {{firstname.errors.minlength.requiredLength}}</span>

      <br>

      <p>Last name :
        <input type='text' name='lastname' required minlength="1" [(ngModel)]='user.lastname' [ngClass]="{ boxborder : lastname.errors }"  #lastname="ngModel">
      </p>
      <span *ngIf='lastname.errors'>Error : </span>
      <span *ngIf='lastname.errors?.required'>Last Name is required</span>
      <span *ngIf='lastname.errors?.minlength'>Minimum length is {{lastname.errors.minlength.requiredLength}}</span>

      <br>

      <p>Email :
        <input type='text' name='email' required minlength="1" [(ngModel)]='user.email' [ngClass]="{ boxborder : email.errors }"
          #email="ngModel">
      </p>
      <span *ngIf='email.errors'>Error : </span>
      <span *ngIf='email.errors?.required'>Email is required</span>
      <span *ngIf='email.errors?.minlength'>Minimum length is {{email.errors.minlength.requiredLength}}</span>

      <br>
      
      <p>Password :
        <input type='password' name='password' required minlength="1" [(ngModel)]='user.password' 
        [ngClass]="{ boxborder : password.errors }"
        pattern="^([a-zA-Z0-9@*#]{1,2})$"
        #password="ngModel">
            </p>
        <span *ngIf='password.errors'>Error : </span>
        <span *ngIf='password.errors?.required'>Password is required</span>
       
       <br>

      <p>Password Confirmation:
        <input type='password' name='confirm_password' required minlength="1" [(ngModel)]='user.cpassword' 
        [ngClass]="{ boxborder : password.errors }"
        #cpassword="ngModel"></p>
        <span *ngIf='cpassword.errors'>Error : </span>
        <span *ngIf='cpassword.errors?.required'>CPassword is required</span>
        <span *ngIf="!(user.password === user.cpassword)">Password not same</span>
     
      <br>
    <p><input type='submit' value='Register' style='background-color : blue' class='button' [disabled]='!registerForm.valid'></p>

    </form>
    <div *ngIf='registerflagSucess' style='color :green'>User registered sucessfully. Please login using credentials </div>
    <div *ngIf='registerflagFailure' style='color : red'>Email id already exist </div>
    
  </div>
  <div class='login'>
      <form (submit)='checklogin()' #loginForm='ngForm'>
          <p>Email : 
            <input type='text' name='lemail' required minlength="1" [(ngModel)]='login.email' [ngClass]="{ boxborder : loginemail.errors }"
            #loginemail="ngModel"></p>
            <span *ngIf='loginemail.errors'>Error : </span>
            <span *ngIf='loginemail.errors?.required'>Email is required</span>
          <br>
          
          <p>Password : 
              <input type='password' name='lpassword' required minlength="1" [(ngModel)]='login.password' [ngClass]="{ boxborder : loginpassword.errors }"
              #loginpassword="ngModel"></p>
              <span *ngIf='loginpassword.errors'>Error : </span>
              <span *ngIf='loginpassword.errors?.required'>Password is required</span>

          <br>
          <p><input type='submit' value='Login' style='background-color : green' class='button' [disabled]='!loginForm.valid'></p>
      </form>
      <div *ngIf='loginflag' style='color : red'>Invalid Credentials</div>
  </div>

  
</body>

</html>
