p{
    display: inline-block;
}

.boxborder{
    border : 1px solid red;
}

.register{
    border : 1px solid blue;
    padding : 20px;
    margin : 10px;
    
}

.login{
    border : 1px solid green;
    padding : 20px;
    margin : 10px;
}

.button{     
    width:400px ; 
    height:40px
}